version: '3.4'

services:
  sourcingdb:
     image: mongo

  rabbitmq:
     image: rabbitmq:3-management
  
  sourcingsqldb:
     image: mcr.microsoft.com/mssql/server


  mt.e-sourcing.products:
    image: ${DOCKER_REGISTRY-}mtproduct
    build:
      context: .
      dockerfile: MT.E-Sourcing.Products/Dockerfile

  mt.e-sourcing.sourcing.api:
    image: ${DOCKER_REGISTRY-}mtsourcingsourcingapi
    build:
      context: .
      dockerfile: MT.E-Sourcing.Sourcing/Dockerfile

