@model AuctionViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Create">
    <div class="card card-primary card-outline">
        <div class="card-body">
            <h4> Auction Cteate Page</h4>
        </div>

    </div>

</form>

